:root {
  /* declare a variable with `--` syntax */
  --dark: #071c30;
  --light: #d48383;
  --navlink-color: #b4df8f;
  --opaque-highlight: rgba(255, 0, 0, 0.5);
  --bcardradius: 50px;
  --bheadradius: 50px 50px 0px 0px;
}
* {
    font-size: 14px;
    box-sizing: border-box;
  }
  
  h1 {
    display: inline;
    font-size: 1.5em;
    padding-right: 10px;
  }

  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }
  
  header {
    padding: 40px;
    font-size: 2.5em;
    text-align: left;
    background: var(--dark);
    color: var(--light);
  }

  nav {
    display: flex;
    justify-content: flex-end;
    background-color: var(--navlink-color);
  }
  
  nav a {
    font-size: 20px;
    color: var(--dark);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.5s;
    border-radius: 10px;
  }

  nav a:hover {
    background-color: var(--light);
  }

  .about {
    flex: 4;
    background-color: #fff;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }


  .work {
    flex: 4;
    background-color: #fff;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }


  
  .sidehead {
    flex: 4;
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    border-left: 4px grey solid;
   
  }

  .card {
    border-style: solid;
    border-radius: 10px;
    box-shadow: 5px 10px #888888;
    border-width: 1px;
    padding: 10px;
    margin: 10px;
    flex: 0 0 400px;
    transition: background-color 0.5s;
  }

  .card:hover {
    background-color: var(--opaque-highlight);
  }

  .card header {
    font-size:1.5em;
    padding: 20px;
    
  }

  .card p {
  text-align: center;
  }

  .card img {
  width: 100%;
  }

  @media screen and (max-width: 768px) {
    main,
    nav,
    .sidehead {
      flex-direction: column;
    }
    
  @media screen and (max-width: 394px) {
    .sidehead {
      
      border-left: none;
    }
  
  
 